<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="API Test">
        <classes>
            <class name="com.api.tests.AuthService.AccountCreationTest">
                <methods>
                    <include name="createAccountTest"/>
                </methods>
            </class>
            <class name="com.api.tests.AuthService.ForgotPasswordTest">
                <methods>
                    <include name="forgotPasswordTest"/>
                </methods>
            </class>
            <class name="com.api.tests.userManagementService.GetProfileTest">
                <methods>
                    <include name="getProfileTest"/>
                </methods>
            </class>
            <class name="com.api.tests.AuthService.LoginAPITest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="com.api.tests.userManagementService.UpdateProfileTest">
                <methods>
                    <include name="updateProfile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>